/* I like MS emojis better sadly */
@import url("https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/EmojiReplace/base/Microsoft.css");
/* Color the SVGs throughout Discord */
@import url('https://nyri4.github.io/Discolored/main.css');
/* The new font, gg sans, is fucking ugly */
@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);

/* Megu Font */
@font-face {
    font-family: Megufont;
    src: url('https://cors.auravoid.dev/https://cdn.auravoid.dev/data/Megufont-Regular.ttf') format('truetype')
}
:root{--font-primary:Megufont,Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;--font-display:"ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;--font-headline:"ABC Ginto Nord","Helvetica Neue",Helvetica,Arial,sans-serif;--font-code:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;--font-korean:Whitney,"Apple SD Gothic Neo",NanumBarunGothic,"\B9D1\C740 \ACE0\B515","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Helvetica Neue",Helvetica,Arial,sans-serif;--font-japanese:Whitney,"Hiragino Sans","\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3","Hiragino Kaku Gothic ProN",メイリオ,Meiryo,Osaka,"MS PGothic","Helvetica Neue",Helvetica,Arial,sans-serif;--font-chinese-simplified:Whitney,"Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;--font-chinese-traditional:Whitney,"Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif}


/* A small fix for a plugin for Vencord */
#oneko {
    z-index: 1000;
}

/* Add oneko to chat bar [by refact0r] */
[class^="channelTextArea"]::before {
    content: "";
    width: 32px;
    height: 32px;
    bottom: calc(100% - 3px);
    /* Mess with the - 3px to change its vertical position */
    right: 10px;
    /* Switch this from right to left to put it on the left side, or increase/decrease to change its position */
    position: absolute;
    image-rendering: pixelated;
    background-image: url("https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif");
    animation: sleep 1s infinite;
    /* change 1s to make the animation slower/faster */
}

[class^="channelTextArea"]:hover::before {
    animation: 2.5s 1 forwards wakeup;
    /* change 1s to make the animation slower/faster */
}

@keyframes sleep {

    /*
    if you open the background image in ur browser, you will see that it has way more frames
    so if you want, you could make ur own keyframes for a different animation
    the top left frame is 0 0, second top row is -32 0, second row second is -32 -32 and so on
    the ...00001% makes it so that there's no transition between the frames, so if you wanted say 3 frames, you'd do 0%, 33.3%; 33.30001%, 66.6%; 66.60001%, 100%
    */
    0%,
    50% {
        background-position: -64px 0;
    }

    50.00001%,
    100% {
        background-position: -64px -32px;
    }
}

@keyframes wakeup {

    0%,
    20% {
        background-position: -160px 0;
    }

    20.00001%,
    40% {
        background-position: -192px 0;
    }

    40.00001%,
    60% {
        background-position: -224px 0;
    }

    60.00001%,
    80% {
        background-position: -96px -64px;
    }

    80.00001%,
    100% {
        background-position: -96px -96px;
    }
}

/* Fix star on gifs */
.imageAccessory-2yA7Kb {
    left: initial;
    right: 6px;
}
